/* CSS Document */
/* All comments go between the front slash and asterisk symbols */

body {
	background-color:#DEDCDC;   /* background color */
	color: #000000;          /* text color for the entire page */
	font-size: 11px;
	font-family: Verdana, Geneva, sans-serif;
}

h1, h2 { 
	text-align:center;     /* centers h1 and h2 content */
	color:#013250;
	background-color:#ffffff40/* exploring new text color */
}

/* styles for the "wrapper" div, notice that "wrapper" is preceded by "#" */
#wrapper {
	width:900px;
	margin:0 auto;    /* centers wrapper */
}

/* styles for the "stepTitle" class, notice that "stepTitle" is preceded by a dot */
.stepTitle{
	padding:10px;
	text-align:left;
	font-size:16px;
	background-color:#F8A558

 }

.stepContent{ 
	background-color: white;
	padding:7px;
	display: flex;
	justify-content: center;

}

.stepDescription {
	width:70%;
	padding:5px;
}

.stepImage {
	width:60%;	
	padding:5px;
	text-align: center;
	border-radius: 20px;
box-shadow: 0 4px 8px 0 gray, 0 6px 20px 0 gray;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;

	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 20px


}.stepOptional {
	padding:10px;
	text-align:left;
	font-size:16px;
	background-color:#F1E38D
}
	.stepOptionalContent{ 
	background-color:#ffffff;
	padding:7px;
	display: flex;
	justify-content: center;
}
	.stepOptionalDescription {
	background-color:#ffffff;
	width:70%;
	padding:5px;
}

.stepOptionalImage {
	width:30%;	
	padding:10px;
	text-align: center;
	border-radius: 20px;
box-shadow: 0 4px 8px 0 gray, 0 6px 20px 0 gray;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;

	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px

}