@charset "utf-8";
/* CSS Document */

body {
	text-align: left;
	background-color: #FFFFFF;
	font-family: open sans, sans-serif;
	font-size: 17px;
	
}

body2 {
	text-align: left;
	background-color: #FFFFFF;
	font-family: open sans, sans-serif;
		font-size: 17px;
}


h1 { 
	text-align:center;     /* centers h1 and h2 content */
	color:#000000;
	background-color:#94D6FB70;
	padding-top: 10px;
	padding-bottom: 10px;/* exploring new text color */
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;

	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	font-family: serif;
	


}

a {
	padding: 15px;
margin: 3px;
	font-size: 125%;
	background-color: #d4d4d4;
	color: #06496E;
		border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
		border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}


a:hover {
	font-size:130%;
	background-color: #06496E;
	color: #ffffff;
			border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
		border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

#wrapper {
width: 900px;
margin: 0 auto;
text-align: center;
}

#wrapper1 {
width: 900px;
margin: 0 auto;
text-align: center;
}

#wrapper2 {
width: 900px;
margin: 0 auto;
text-align: center;
}

#wrapper3 {
width: 900px;
margin: 0 auto;
text-align: left
}

#wrapper4 {
width: 900px;
margin: 0 auto;
text-align: left
}

#wrapper5 {
width: 900px;
margin: 0 auto;
text-align: right
}

 #belle {
border: grey 1px solid;
	 border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
		border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
 
 #belle_ball {
display: none;
border: grey 1px solid;
	 border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
		border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

 #maple1 {
border: grey 1px solid;
	 border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
		border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

 #maple_nap {
display: none;
border: grey 1px solid;
	 border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
		border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}


.choices {
cursor: pointer;
}

